<div class="container">

  <div class="py-5 text-center">
    <h1 >Reporte general COVID-19</h1>
  </div>

  <div class="card text" id="card">
    <div class="card-body text-center">
   
      <div class="row" id="card-info">
        <div class="col-3">
          <label>Total de Casos</label>
          <p>492</p>
        </div>
        <div class="col-3">
          <label>Casos  Activos</label>
          <p>492</p>
        </div>
        <div class="col-3">
          <label>Recuperados</label>
          <p style="color: #64CF82">492</p>
        </div>
        <div class="col-3">
          <label>Muertes</label>
          <p style="color:#FF0000;">492</p>
        </div>
        <div id="country" class="text-center">
          <h4>Bolivia | fecha de modificacion</h4></div>
      </div>
    </div>
  </div>

  

  <div class="card" id="cardmap">
    <div class="card-header">
    <label>Mapa del Mundo</label>
    <h4>Fecha actualizacion</h4>
    </div>
    <div class="card-body">
    
      <div id="mapa-mapbox"></div>
    </div>

  </div>

</div>












