<div class="container">

  <div class="py-5 text-center">
    <h1 >Reporte general COVID-19</h1>
  </div>

  <mat-card>
    <mat-grid-list cols="4" rowHeight="4:1" id="card-info">
      <mat-grid-tile>
        <mat-card-content>
          <label>Total de Casos</label>
          <p>492</p>
        </mat-card-content>
      </mat-grid-tile>

      <mat-grid-tile>
       <mat-card-content>
        <label>Casos  Activos</label>
        <p>492</p>
       </mat-card-content>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card-content>
          <label>Recuperados</label>
          <p style="color: #64CF82">492</p>
        </mat-card-content>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card-content>
          <label>Muertes</label>
          <p style="color:#FF0000;">492</p>
        </mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>
    <br>

    <div id="country" class="text-center">
      <h4>Bolivia | fecha de modificacion</h4>
  </div>
  </mat-card>

  <br>
  <mat-card id="cardmap" style="background: white">
    <mat-card-header>
      <div>
        <label>Mapa del Mundo</label>
        <h4>Fecha actualizacion</h4>
        </div>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-tab-group>
      <mat-tab label="Mundo">  </mat-tab>
      <mat-tab label="América"> </mat-tab>
      <mat-tab label="Europa">  </mat-tab>
      <mat-tab label="Asia">  </mat-tab>
      <mat-tab label="África">  </mat-tab>
      <mat-tab label="Oceanía">  </mat-tab>
    </mat-tab-group>

    <mat-card-content  id="cardmap">
      <div id="mapa-mapbox"></div>
    </mat-card-content>
  </mat-card>















