.general-container{
  background: #F6F6F4;
  border: #F6F6F4;
}
.menu-container{
  width: 280px;
  height: 96%;
  background: #05284C;
  border-radius: 40px;
 margin: 15px 10px;
 color: white;
}
a{
  
  margin: 15px 15px;
}
.title{
  color: white;
  margin-top: 45px;
  margin-bottom: 20px;
}
svg{
  color: white;
  display: inline-block;
  margin-right: 1em;
}
.mat-drawer-side {
  border-right: none !important;
}
.mat-drawer {
  background-color: transparent !important;
}